.root {
    display: flex;
    justify-content: center;

    .label {
        font-size: 14pt;
        font-family: Calibri;
        text-transform: uppercase;
        margin: 20px 0 0 0;
    }

    main {
        padding: 20px;
        background-color: white;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        width: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 50px;
        grid-template-areas:
            "form aside"
            "publish publish";
        column-gap: 20px;

        form {
            display: flex;
            flex-direction: column;
            grid-area: form;

            input {
                width: 100% !important;
                max-width: 100% !important;
            }
        }

        aside {
            grid-area: aside;
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        .publishButton {
            grid-area: publish;
        }
    }
    .chip {
        margin: 5px !important;
    }
}
